*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cont{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background: #eee;
    border-radius: 10px;
}
h1{
    margin-top: 3rem;
}
.imgcont{
    width: 50%;
    height: 50%;
    /* background: #000; */
    margin: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
img{
    width: 350px;
    height: 350px;
}
button{
    width: 80%;
    padding: .7rem;
    background-color:#0B6EFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    transition: background-color 0.4s ease , transform 0.3s ease;
}
button:hover{
    background-color: #1765D3;
    transform: scale(1.1);
}
