* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cont {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #eee;
  border-radius: 10px;
}

h1 {
  margin-top: 3rem;
}

.imgcont {
  width: 50%;
  height: 50%;
  margin: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

button {
  width: 80%;
  padding: 0.7rem;
  background-color: #0b6efd;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

button:hover {
  background-color: #1765d3;
  transform: scale(1.1);
}
