@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121113;
}
.card{
    display: grid;
    place-items: center;
    height: 100vh;
}
.iner{
    width: 25%;
    height: 44%;
    background-color: #2F2F2F;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 12px;
}
.head{
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    color: #fff;
}
.h1-tag{
    font-family: "Poppins" , sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.para{
    font-family: "Robot" , sans-serif;
    /* padding: 5px; */
    font-weight: 300;
    margin-top: 5px;
    font-size: 15px;
    line-height: 25px;
}
.btn-cls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    gap: 1rem;
}
.btn-cls button{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-color: 1px solid #dee2e6;
    font-size: 13px;

}

.foot{
    margin-top: 15px;
    font-family: "Roboto" , sans-serif;
}

.fotter{
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}
.sign-btn:hover{

    background-color: #2F2F2F;
    color: white;

}





