*{
    padding: 0;
    margin: 0;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    flex-direction: column;
}
.square{
    width: 200px;
    height: 200px;
    background:#dee2e6; 
    border-radius: 5px;
    border: 1px solid black;
}
.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    /* background-color: blue; */
    width: 50%;
    height: 10%;

}
.btn-container button{
    width: 80px;
    height: 40px;
    border: 1px solid #868e96;
    border-radius: 10px;
    cursor: pointer;
}