*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cont{
    width: 400px;
    height: 250px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 8px rgb(0, 0, 0 , 0.5);
}
h2{
    margin-top: 20px;
    margin-bottom: 3rem;
}
input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 17px;
    text-align: center;
    letter-spacing: 5px;
}
button{
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 15px;
    background-color: #fff;
}

