html, body {
    margin: 0;
    padding: 0;
    background: #ced0e2;
}

:root {
    --toggle-switch-bg: #232428;
    --toggle-border: #232428;
    --toggle-bg: #fff;
    --circle-size: 40px;
    --toggle-width: 100px;
}
.toggle-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.toggle-input{
    display: none;   
}
label{
    width: var(--toggle-width);
    height: 40px;
    border: 3px solid var(--toggle-border);
    border-radius: 40px;
    padding: .25em;
    background: var(--toggle-bg);
    cursor: pointer;
}

.toggle-switch{
    width: var(--circle-size);
    height: 40px;
    border-radius: 50%;
    background: var(--toggle-switch-bg);
    transition: all .5s;
}
.toggle-input:checked ~ .toggle-switch{
    transform: translateX(calc(100px - 40px));

}
