/* Basic reset */
*{
    margin: 0;
    padding: 0;
    /* what border box does is take the will not take extra space if we give padding 
    it will adjust withing the box will not go out side the box */
    box-sizing: border-box;
}
:root{
    /* colors */
    --bg-color:#F5F5F5;
    --content-cont:#FFFFFF;
    --btn-color: #FF9800;
    --btn-hover:#00BCD4;
    --main-text:#212121;
    --sec-text:#757575;
    --crt-ans:#4CAF50;
    --wrong-ans: #F44336;
}
body{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}
.container{
    background: var(--content-cont);
    border-radius: 1rem;
    box-shadow: 1px 10px 30px rgb(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}
/* all screens */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}
/* start screen */

#start-screen h1{
    color: var(--main-text);
    margin-bottom: 20px;
    font-size: 2.5rem;
}
#start-screen p{
    color: var(--sec-text);
    margin-bottom: 30px;
    font-size: 1.1rem;
}
.quiz-header{
    margin-bottom: 20px;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: var(--sec-text);
    margin-bottom: 10px;
}
#answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
.answer-btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}
.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}
.answer-btn.correct{
    background-color: #e6fff0;
    color: #28a745;
    border-color: #a3f0c4;
}
.answer-btn.incorrect{
    background-color: #fff0f0;
    color: #ffbdbd;
    border-color: #dc3545;
}
.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    overflow: hidden;
    margin-top: 20px;
}
.progress{
    height: 100%;
    background-color: var(--btn-color);
    width: 0%;
    transition: widtn 0.3 ease;
}
/* Result page */
#result-screen h1{
    color:var(--main-text);
    margin-bottom: 30px;
}
.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p{
    font-size: 1.2rem;
    color: var(--sec-text);
    margin-bottom: 1rem;

}
#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e86a33;
}
button{
    background-color: #3F51B5;
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
button:hover{
    background-color: #303F9F;
}
/* RESPONSIVE DESIGN */
@media (max-width: 500px) {
  /* when we hit 500px and below, implement the styles below */

  .screen {
    padding: 1rem;
  }

  #start-screen h1 {
    font-size: 2rem;
  }

  #question-text {
    font-size: 1.3rem;
  }

  .answer-btn {
    padding: 12px;
  }

  button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}