@media screen and (max-width: 950px)
{
   .gamecontainer{
    flex-wrap: wrap;
   }
   .gameinfo{
    margin-top: 34px;
   }
   .gameinfo h1{
    font-size: 1.5rem;
   }
   .container{
    grid-template-rows: repeat(3 , 20vw);
    grid-template-columns: repeat(3 , 20vw);
   }
}